 @page "/denemes"
@inject HttpClient Http

<h1>Deneme Sayfasi</h1>
<!-- Section: Split screen -->
<section class="">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                
            </div>
            <div class="col-lg-6 vh-100 bg-primary">
            </div>
        </div>
    </div>

</section>
<!-- Section: Split screen -->

@code {
}